.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #B3334E;
    color: #B3334E;
    box-shadow: 9984px 0 0 0 #B3334E, 9999px 0 0 0 #B3334E, 10014px 0 0 0 #B3334E;
    animation: dot-typing 1.5s infinite linear;
    padding-left: 10px;
}
  
@keyframes dot-typing {
    0% {
      box-shadow: 9984px 0 0 0 #B3334E, 9999px 0 0 0 #B3334E, 10014px 0 0 0 #B3334E;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #B3334E, 9999px 0 0 0 #B3334E, 10014px 0 0 0 #B3334E;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #B3334E, 9999px 0 0 0 #B3334E, 10014px 0 0 0 #B3334E;
    }
    50% {
      box-shadow: 9984px 0 0 0 #B3334E, 9999px -10px 0 0 #B3334E, 10014px 0 0 0 #B3334E;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #B3334E, 9999px 0 0 0 #B3334E, 10014px 0 0 0 #B3334E;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #B3334E, 9999px 0 0 0 #B3334E, 10014px -10px 0 0 #B3334E;
    }
    100% {
      box-shadow: 9984px 0 0 0 #B3334E, 9999px 0 0 0 #B3334E, 10014px 0 0 0 #B3334E;
    }
}