body {
  font-family: 'Candara', sans-serif !important;
}

.MuiInputLabel-root {
  font-family: 'Candara', sans-serif !important;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.characterText .MuiOutlinedInput-root{
  background-color: #FFFDD0 !important; 
  border-radius: 10px !important;
}

.characterText .MuiInputLabel-root.Mui-focused {
  color: #FF1B1C;
}

.characterNumber {
  margin-bottom: 2;
  margin-top: 2; 
  background-color: #FFFDD0; 
  border-radius: 10px;
}

.containerTitle {
  color: #FF1B1C;
  font-size: 150% !important;
  font-family: 'Copperplate', 'Copperplate Gothic Light', serif !important;
}

.titleContainer {
  display:flex; 
  flex-direction: column;
  border: 2px solid;
  border-color: #FFFFF0;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.horizontaltitleContainer {
  display: flex; 
  flex-direction: row; 
  border: 2px solid;
  border-color: #FFFFF0;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.subContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.switchContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.weaponTable {
  background-color: #FFFDD0;
}

.weaponTableHeader {
  background-color: #A6977C;
}

.weaponTableRow {
  background-color: black;
  border: black;
  border-width: 3px;
}

.equipmentList {
  background-color: #FFFDD0; 
  color: black;
}

.skillsColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  margin: 1em;
}

.initiativeArmorContainer {
  display: flex; 
  justify-content: center; 
  border: 2px solid;
  border-color: #FFFFF0;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 1em;
  gap: 20%;
  padding-bottom: 1em;
  padding-top: 1em;
}

.notesText {
  width: 95%;
}